<!DOCTYPE html>
<html>
    <head>
        <title>
            help
        </title>
    </head>
    <body>
        <br><br><br><br><br><br>
        <center>
        {{>header}}
        <h3>HELP PAGE</h3>
    </center>
    </body>
</html>